.cont {
  .top {
    color: #FF9302;
    .bd_logo1 {
      display: inline-block;
      width: 15rem;
      height: 10rem;
      background-image: url("../img/fj_bg.jpg");
      background-size: contain;
    }
  }
  .bottom {
    color: #F00000;
  }
}